/* index.html css start */
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin:0;
  }

.opt{border-radius: 30px;border: 2px solid black ;text-align: center;color:Black;background-image: linear-gradient(#48546B,#485461);color: white;}

.option>div{width:99%;
			height:100%;
			margin:5px;
			margin-left:20px;
      			width: 99%;
      			overflow:inherit;
			color:#ffffff;
			}
  .option>div:hover{background-image: linear-gradient(90deg,#434343,Black,#485461);border-bottom-right-radius: 50px;display:flex;overflow: hidden;width:97%;color:#ffffff;}
.optiontext{float:right;padding-right:20px;padding-left:140px;}


/* all other page css */
.heading{height:70px;text-align: center;font-color:white;background-image: linear-gradient(#48546B,#485461);border-bottom:3px solid #8693AB;border-left:3px solid black ;border-right:3px solid black; margin-bottom: 5px;margin-top:5px;padding-top:5px;display:flex;overflow: hidden;width:100%;}
.main{border:2px solid;width:100%;height:100%;display:flex;overflow: hidden;}
.fist{border:2px solid white;width:auto;height:auto;float:left;}
.second{border:2px solid green;float:right;margin:10px;width:60%;color:Black;}
.image{width:100%;height:auto}
.footer{text-align:center;background-image: linear-gradient(#8693AB,#485461);}
h4{font-size:26px;}
h3{font-family: Georgia, serif;}
